.filters {
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  &_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  &__container {
    width: 100%;
    background: #303D42;
    border: 2px solid #545B5F;
    &_hide {
      display: none;
    }
  }
  &__title {
    color: #9BB1B2;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0 15px 30px;
    border-bottom: 2px solid #545B5F;
  }
  &__categories {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__category {
    padding: 10px 30px 30px 30px;
    border-right: 2px solid #545B5F;
    background: #29363B;
    flex-grow: 1;
  }
  &__category:last-child {
    border: none;
  }
  &__categoryTitle {
    width: 100%;
    text-align: center;
    color: #9BB1B2;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 10px 0 10px 0;
  }
  &__categoryList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &_style_level {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__categoryItem {
  }
  &__categoryOption {
    position: relative;
    display: flex;
    align-items: center;
    height: 28px;
    margin: 10px 0 0 0;
    padding: 0 20px 0 0;
  }
  &__checkbox {
    display: none;
    &:checked + .filters__label::after {
      display: block;
    }
  }
  &__label {
    padding: 0 10px 0 40px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #C2C5C6;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: 400;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      border: 2px solid #475257;
      background: #20272A;
      box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.10) inset;
      cursor: pointer;
    }
    &::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="9" viewBox="0 0 15 11" fill="none"><path d="M1.00024 4.35004L7.6502 10.9999" stroke="%2362AF89" stroke-width="2"/><path d="M5.95703 10.9708L15.9277 0.99999" stroke="%2362AF89" stroke-width="2"/></svg>');
      position: absolute;
      top: 3px;
      left: 5px;
      display: none;
    }
  }
  &__labelIcon {
    display: block;
    margin: 0 10px 0 0;
  }
  &__footer {
    padding: 17px 50px 17px 0;
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid #545B5F;
  }
  &__button {
    align-self: flex-start;
  }
  &__activeFilters {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    gap: 15px;
  }
  &__activeFiltersList {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 10px;
    flex-wrap: wrap;
  }
  &__activeFiltersItem {
    position: relative;
    &:hover .filters__removeTag {
      display: flex;
    }
  }
  &__activeFiltersTag {
    background: #ffffff;
    color: #333333;
    padding: 3px 13px;
    border-radius: 15px;
    opacity: 0.7;
  }
  &__activeFiltersHeader {
    font-size: 14px;
    font-weight: 200;
    margin: 0 0 5px 0;
    opacity: 0.77;
  }
  &__buttonContainer {
    margin: 0 0 20px 0;
    display: flex;
    gap: 10px;
  }
  &__buttonClear {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: #ffffff;
    font-size: 12px;
    align-self: flex-end;
    margin: 0 0 2px 0;
    opacity: 0.7;
    &_hide {
      display: none;
    }
  }
  &__removeTag {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -7px;
    display: none;
    &::before, &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 2px;
      background-color: #000000;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

@media screen and (max-width: 1350px){
  .filters {
    &__categoryList {
      &_style_type {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media screen and (max-width: 1160px){
  .filters {
    &__category {
      border-right: none;
      padding: 10px 30px 10px 30px;
    }
    &__categories {
      flex-direction: column;
    }
    &__categoryList {
      &_style_type {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      }
      &_style_nation {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      }
      &_style_level {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      }
    }
  }
}

@media screen and (max-width: 700px){
  .filters {
    padding: 0;
    &__button {
      font-size: 14px;
      &::before {
        width: 13px;
        height: 13px;
        background-position: center;
        top: 2px;
      }
    }
  }
}
