.shipsList {
  display: flex;
  flex-direction: column;
  padding: 0 40px 50px 40px;
  width: 100%;

  &__country {
    margin: 100px 0 0 0;
  }

  &__countryImage {
    display: block;
  }

  &__countryHeader {
    margin: 0 0 100px 0;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__countryTitle {
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 0 30px;
    padding: 0;
  }

  &__classImage {
    display: block;
  }

  &__classHeader {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 30px 0 30px 0;
  }

  &__classTitle {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 0 10px;
    padding: 0;
  }

  &__ships {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 72px;
  }
}

.ship {
  position: relative;
  width: 320px;
  z-index: 55;
  height: 203px;
  &:hover &__flag, &:hover &__class, &:hover &__description, &:hover &__wrapper::before {
    visibility: visible;
  }
  &__flag {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
  }
  &__class {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 7px;
    align-items: center;
    visibility: hidden;
  }
  &__classCaption {
    font-size: 14px;
    font-weight: 200;
  }
  &__header {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 12px 0 0 0;
  }
  &__level {
    font-weight: 200;
    font-size: 18px;
    color: #D1D4D6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  }
  &__title {
    font-weight: 500;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  }
  &__description {
    visibility: hidden;
    display: block;
  }
  &__descriptionParagraph {
    margin: 22px 0 0 0;
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;
  }
  &__wrapper {
    z-index: 11;
    top: 0;
    bottom: -20px;
    right: 0;
    left: 0;
    position: absolute;
    &:before {
      content: '';
      background: #333A42;
      position: absolute;
      top: -20px;
      bottom: -30px;
      right: -25px;
      left: -25px;
      border: 1px solid #B3B6BA;
      border-radius: 2px;
      z-index: -1;
      visibility: hidden;
    }
  }
}
