.ships {
  display: flex;
  padding: 40px 40px 50px 40px;
  width: 100%;
  flex-direction: column;
  &__toggleView {
    align-self: flex-end;
  }
}

.shipsList {
  display: flex;
  flex-direction: column;
  &__ships {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
  &__country {
    margin: 100px 0 0 0;
    &:first-child {
      margin: 0;
    }
  }
  &__shipItem {
    position: relative;
  }
  &__countryImageContainer {
    max-width: 222px;
    width: 100%;
    aspect-ratio: 1.65;
    position: relative;
  }

  &__countryImage {
    object-fit: contain;
  }

  &__countryHeader {
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__countryTitle {
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 0 30px;
    padding: 0;
  }
  &__class {
    position: relative;
    margin-top: 50px;
  }
  &__classImage {
    display: block;
  }

  &__classHeader {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 30px 0 30px 0;
  }

  &__classTitle {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 0 10px;
    padding: 0;
  }
  &__noShipsMessage {
    font-size: 24px;
    text-align: center;
  }
}

.ship {
  position: relative;
  //width: 320px;
  height: 203px;
  &:hover {
    z-index: 1;
  }
  &:hover &__flag, &:hover &__class, &:hover &__description, &:hover &__wrapper::before {
    visibility: visible;
  }
  &__flag {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
  }
  &__class {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 7px;
    align-items: center;
    visibility: hidden;
  }
  &__classCaption {
    font-size: 14px;
    font-weight: 200;
  }
  &__image {
    position: relative;
  }
  &__header {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 12px 0 0 0;
    position: relative;
  }
  &__level {
    font-weight: 200;
    font-size: 18px;
    color: #D1D4D6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  }
  &__title {
    font-weight: 500;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  }
  &__description {
    visibility: hidden;
    display: block;
    position: relative;
  }
  &__descriptionParagraph {
    margin: 22px 0 0 0;
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;
  }
  &__wrapper {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:before {
      content: '';
      background: #333A42;
      position: absolute;
      top: -20px;
      bottom: -20px;
      right: -20px;
      left: -20px;
      border: 1px solid #B3B6BA;
      border-radius: 2px;
      visibility: hidden;
    }
  }
}


@media screen and (max-width: 700px){
  .ships {
    padding: 0;
  }
  .shipsList {
    &__countryImageContainer {
      max-width: 150px;
    }
  }
}
@media screen and (max-width: 450px){
  .ship {
    &__header {
      margin: 0;
    }
  }
  .shipsList {
    &__ships {
      gap: 15px;
    }
    &__class {
      margin-top: 20px;
    }
    &__countryTitle {
      font-size: 28px;
      margin: 0 0 0 15px;
    }
    &__classHeader {
      margin: 15px 0 15px 0;
    }
    &__classTitle {
      font-size: 14px;
    }
  }
}