.hamburger {
  display: none;
  position: relative;
  width: 28px;
  height: 22px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  z-index: 2;

  &__button {
    margin: 0 0 0 auto;
  }

  &__buttonLine {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #ffffff;
    z-index: 3;
    transition-duration: .20s;
    &:nth-child(1) { top: 0; }
    &:nth-child(2) { top: 10px; }
    &:nth-child(3) { top: 20px; }
  }

  &__button_type_close {
    position: fixed;
    right: 40px;
    top: 20px;


    .hamburger__buttonLine {
      top: 10px;

      &:nth-child(1) { transform: rotate(45deg); }
      &:nth-child(2) { transform: rotate(45deg); }
      &:nth-child(3) { transform: rotate(-45deg); }
    }
  }

  @media screen and (max-width: 1050px) {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .hamburger {
    &__button_type_close {
      right: 15px;
    }
  }
}
