.mainBanner {
  display: flex;
  justify-content: center;
  max-width: 448px;
  height: auto;
  position: relative;
  margin: 0 auto;
  &__image {
    display: block;
    margin: 100px 0 100px 0;
  }
}

@media screen and (max-width: 1350px){
  .mainBanner {
    max-width: 300px;
    &__image {
      display: block;
      margin: 50px 0 50px 0;
    }
  }
}


@media screen and (max-width: 550px){
  .mainBanner {
    max-width: 100%;
    padding: 0 100px;
    &__image {
      display: block;
      margin: 50px 0 50px 0;
    }
  }
}