.mainBanner {
  display: flex;
  justify-content: center;
  max-width: 448px;
  width: 100%;
  height: auto;
  position: relative;
  margin: 100px auto 100px auto;
  aspect-ratio: 1.82;
  &__image {
    object-fit: contain;
  }
}

@media screen and (max-width: 1350px){
  .mainBanner {
    max-width: 300px;
    margin: 50px auto 50px auto;
  }
}


@media screen and (max-width: 550px){
  .mainBanner {
    max-width: 200px;

  }
}