.navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 40px 0 40px;
}

.menu {
    display: flex;
    list-style-type: none;
    height: 100%;
    &__item {
        margin: 0 0 0 30px;
        position: relative;
        &:hover {
            &::after {
                opacity: 0.6;
            }
        }
        &::after {
            content: '';
            border-bottom: 3px solid #00cccc;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            opacity: 0;
            transition: opacity 0.3s ease-out;
        }
    }
    &__link {
        color: #ffffff;
        text-transform: uppercase;
        opacity: 0.77;
        height: 100%;
        display: flex;
        align-items: center;
        transition: opacity 0.3s ease-out;
        &:hover {
            opacity: 1;
        }


    }
}

.navigation__button {
    margin-left: auto;
}
